{
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": [
    "src/**/*"
  ],
  "per-file": true,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "require": ["ts-node/register"],
  "cache": true,
  "sourceMap": true,
  "instrument": true,
  "all": true,
  "reporter": [
    "text",
    "lcov"
  ]
}
